.cusBorder{
    border-block: solid 1px rgb(163, 173, 192);
    
}
.logout{
    background-color: rgb(255, 255, 255);
    color: rgb(55, 58, 157);
}
.logout:hover{
    background-color: rgb(204, 64, 64);
    

}